#Offline {
  height: 100vh;
  width: 100vw;
  background-color: #2b558a;
  //   background: linear-gradient(to bottom, yellow 50%, orange 50%);
  h1 {
    font-weight: bold;
    color: white;
    //   text-shadow: 0 3px 3rem royalblue;
  }
}
